{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    "react/display-name": false,
    "react/prop-types": false,
    "@typescript-eslint/explicit-function-return-type": 0,
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error"
  },
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser"
}
