{
    "extends": ["plugin:flowtype/recommended", "eslint:recommended", "plugin:react/recommended"],
    "plugins": ["flowtype"],
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ]
    }
}