---
import LinkButton from '@components/LinkButton.astro';
import Video from '@components/Video.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const videos = await getCollection('video');
---

<BaseLayout
  title={'Illustration videos'}
  description={'Some of my favorite hand-drawn illustration videos'}
>
  <div class="flex justify-between items-center mb-8">
    <h1>Illustration videos</h1>
    <LinkButton href="/illustration/">← Back to Illustrations</LinkButton>
  </div>
  <div class="flex flex-col gap-4 md:gap-16">
    {
      videos.map((video) => (
        <Video
          publicId={video.data.public_id}
          title={video.data.context?.custom?.caption as string}
          citation
          options={{ loop: video.data.context?.custom?.loop === 'true' }}
        />
      ))
    }
  </div>
</BaseLayout>
