---
import Video from '@components/Video.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { css } from 'styled-system/css';
import { flex } from 'styled-system/patterns';

const videos = await getCollection('video');
---

<BaseLayout
  title={'Illustration videos'}
  description={'Some of my favorite hand-drawn illustration videos'}
>
  <div class={flex({ justify: 'space-between', alignItems: 'center', mb: 8 })}>
    <h1>Illustration videos</h1>
    <a
      href="/illustration"
      class={css({ textDecoration: 'underline', color: 'prose.link', textAlign: 'right' })}
      >← Back to Illustrations</a
    >
  </div>
  <div class={flex({ direction: 'column', gap: { base: 4, md: 16 } })}>
    {
      videos.map((video) => (
        <Video
          publicId={video.data.public_id}
          title={video.data.context?.custom?.caption as string}
          citation
          options={{ loop: video.data.context?.custom?.loop === 'true' }}
        />
      ))
    }
  </div>
</BaseLayout>
