---
import PostCard from '@components/PostCard.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { ViewTransitions } from 'astro:transitions';
import { css } from 'styled-system/css';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout>
  <ViewTransitions slot="head" />
  <section>
    <div
      class={css({
        display: 'flex',
        flexWrap: 'wrap',
        gap: { base: 2, lg: 8 },
        margin: 0,
        padding: 0,
      })}
    >
      {posts.map((post, index) => <PostCard post={post} featured={index === 0} />)}
    </div>
  </section>
</BaseLayout>
