---
import GridLayout from '@components/GridLayout.astro';
import PostCard from '@components/PostCard.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout>
  <section>
    <GridLayout>
      {posts.map((post, index) => <PostCard post={post} featured={index === 0} />)}
    </GridLayout>
  </section>
</BaseLayout>
