---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import Badge from '@components/Badge.astro';
import { slugify } from '@lib/posts';
import GridLayout from '@components/GridLayout.astro';
import LinkButton from '@components/LinkButton.astro';
import Prose from '@components/Prose.astro';

const tilPosts = (await getCollection('til')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout title={'Dev Tips'} description={"Some things I've learned along the way"}>
  <section>
    <GridLayout title="Dev Tips">
      {
        tilPosts.map((post) => (
          <div class="flex flex-col">
            <Prose className="prose-xl">
              <h3>
                <LinkButton href={`/til/${post.data.slug}/`}>{post.data.title}</LinkButton>
              </h3>
              <div class="flex gap-3 items-center">
                {post.data.tags.map((tag) => (
                  <Badge link={`/til/tag/${slugify(tag)}/`}>{tag}</Badge>
                ))}
              </div>
            </Prose>
          </div>
        ))
      }
    </GridLayout>
  </section>
</BaseLayout>
