---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import PostCard from '@components/PostCard.astro';
import { getAllTags } from '@lib/posts';
import GridLayout from '@components/GridLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return getAllTags(posts);
}

type Props = {
  posts: CollectionEntry<'blog'>[];
  tag: string;
};

const { posts, tag } = Astro.props;
---

<BaseLayout title={`Tag: ${tag}`} description={`Posts about ${tag}`}>
  <section>
    <GridLayout title={`Tag: ${tag}`}>
      {posts.map((post) => <PostCard post={post} />)}
    </GridLayout>
  </section>
</BaseLayout>
