---
import { type CollectionEntry, getCollection } from 'astro:content'
import GridLayout from '@components/GridLayout.astro'
import PostCard from '@components/PostCard.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getAllTags } from '@lib/posts'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return getAllTags(posts)
}

type Props = {
  posts: CollectionEntry<'blog'>[]
  tag: string
}

const { posts, tag } = Astro.props
---

<BaseLayout title={`Tag: ${tag}`} description={`Posts about ${tag}`} robots="noindex, follow">
  <section>
    <GridLayout title={`Tag: ${tag}`}>
      {posts.map((post) => <PostCard post={post} />)}
    </GridLayout>
  </section>
</BaseLayout>
