---
import { type CollectionEntry, getCollection } from 'astro:content';
import GridLayout from '@components/GridLayout.astro';
import TilPostCard from '@components/TilPostCard.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getAllCategories } from '@lib/posts';

export async function getStaticPaths() {
  const posts = await getCollection('til');
  return getAllCategories(posts);
}

type Props = {
  posts: CollectionEntry<'til'>[];
  category: string;
};

const { posts, category } = Astro.props;
---

<BaseLayout title={`Category: ${category}`} description={`Posts about ${category}`}>
  <section>
    <GridLayout title={`Category: ${category}`}>
      {posts.map((post) => <TilPostCard post={post} />)}
    </GridLayout>
  </section>
</BaseLayout>
