---
import Image from '@components/Image.astro';
import PostCard from '@components/PostCard.astro';
import ProjectGrid from '@components/ProjectGrid.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { css, cx } from 'styled-system/css';
import { flex } from 'styled-system/patterns';
import { prose } from 'styled-system/recipes';
import { SITE_TITLE } from '../consts';

const featuredPost = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)[0];
---

<BaseLayout title={SITE_TITLE}>
  <div class={flex({ direction: 'column', gap: { base: 12, md: 24 } })}>
    <section>
      <div
        class={flex({
          gap: 8,
          pt: { base: 12, md: 24 },
          alignItems: 'center',
          direction: { base: 'column', md: 'row' },
        })}
      >
        <div
          class={css({
            order: { base: 0, md: 1 },
          })}
        >
          <Image
            src="joel-turner_nobg"
            alt="Joel Turner"
            class={css({
              borderRadius: 'full',
              width: '200px',
              height: '200px',
              margin: '0 auto',
              display: 'block',
              backgroundColor: { _dark: 'black', _light: 'white' },
              shadow: 'round',
            })}
            width={200}
            height={200}
            gravity="faces"
          />
        </div>

        <div class={cx(prose(), css({ flex: '1 1 0' }))}>
          <h1
            class={css({
              display: 'flex',
              justifyContent: { base: 'center', md: 'flex-start' },
              fontSize: { base: '3xl', md: '4xl' },
              gap: 2,
            })}
          >
            Howdy! I'm Joel
            <div class="animation-keyframes">
              <wa-animation easing="ease-in-out" duration="2000" play>
                <div class="box">👋🏻</div>
              </wa-animation>
            </div>
          </h1>

          <p>
            Hi there! I'm a <strong>web developer & digital adventurer</strong> with a background in
            graphic design and web development. By day, I'm a Senior Product Engineer at <a
              href="https://copilotcrm.com">Copilot CRM</a
            >, but in my free time I love to let my artistic side shine by practicing <a
              href="/illustrations">hand lettering and sketching</a
            >. When I'm not busy creating, you can find me exploring the great outdoors in Portland
            with my awesome family (including our furry canine companions)!
          </p>
        </div>
      </div>
    </section>

    <div class={flex({ direction: 'column', gap: 4 })}>
      <h2>Latest Blog Post</h2>
      <PostCard post={featuredPost} featured />
    </div>

    <div class={flex({ direction: 'column', gap: 4 })}>
      <h2>Projects I'm Working On</h2>
      <ProjectGrid />
    </div>
  </div>
</BaseLayout>

<script>
  interface WAAnimation extends HTMLElement {
    keyframes: Array<{
      offset: number;
      easing: string;
      fillMode: string;
      transformOrigin: string;
      transform: string;
    }>;
  }

  const animation = document.querySelector('.animation-keyframes wa-animation') as WAAnimation;
  if (animation) {
    animation.keyframes = [
      {
        offset: 0,
        easing: 'ease-in-out',
        fillMode: 'both',
        transformOrigin: 'center center',
        transform: 'rotate(0deg)',
      },
      {
        offset: 0.5,
        easing: 'ease-in-out',
        fillMode: 'both',
        transformOrigin: 'center center',
        transform: 'rotate(45deg)',
      },
      {
        offset: 1,
        easing: 'ease-in-out',
        fillMode: 'both',
        transformOrigin: 'center center',
        transform: 'rotate(0deg)',
      },
    ];
  }
</script>
