---
import { YouTube } from 'astro-embed';
const { embedId } = Astro.props;
---

<div class="rounded-xl overflow-hidden aspect-9/16">
  <YouTube
    id={embedId}
    params={`mute=1&controls=0&loop=1&playlist=${embedId}&rel=0&color=blue&widget_referrer=https%3A%2F%2Fjoelmturner.com`}
    class="w-full h-full"
    posterQuality="high"
  />
</div>
