---
type Props = {
  link?: string;
};

const { link } = Astro.props;
---

{
  link ? (
    <a href={link} style="text-decoration: none;">
      <wa-badge appearance="filled-outlined" variant="neutral">
        <slot />
      </wa-badge>
    </a>
  ) : (
    <wa-badge appearance="filled-outlined" variant="neutral">
      <slot />
    </wa-badge>
  )
}
