---
import Footer from './Footer.astro';
import Header from './Header.astro';

const { title } = Astro.props;
---

<body class="grid grid-rows-[auto_1fr_auto] h-screen">
  <Header title={title} />
  <main class="w-full max-w-[100vw] lg:max-w-3xl mx-auto px-4 md:px-0 py-4 lg:py-12">
    <slot />
  </main>
  <Footer />

  <script src="/theme.js" defer></script>
</body>
