---
import { sanitizeId } from '@lib/utils';
import { css, cx } from 'styled-system/css';
import { flex } from 'styled-system/patterns';

import 'cloudinary-video-player/cld-video-player.min.css';

type Props = {
  publicId: string;
  title: string;
  options?: {
    loop?: boolean;
  };
  citation?: boolean;
};

const { publicId, title, citation, options: { loop = false } = { loop: false } } = Astro.props;
const id = sanitizeId(publicId);
---

<script
  src="https://cdn.jsdelivr.net/npm/cloudinary-video-player/dist/cld-video-player.min.js"
  type="text/javascript"></script>

<script>
  document.querySelectorAll('.cld-video-player').forEach((el) => {
    console.log('(el as any).dataset.loop', (el as any).dataset.loop);
    (window as any).cloudinary.videoPlayer(el.id, {
      cloudName: 'joelmturner',
      autoplay: false,
      muted: false,
      allowFullscreen: true,
      width: 640,
      height: 360,
      colors: {
        base: '#97cdff',
        accent: '#CBF6FF',
      },
    });
  });
</script>

<div
  class={cx(
    'not-prose',
    css({
      borderRadius: 'lg',
      overflow: 'hidden',
      maxWidth: '640px',
      width: '100%',
      mx: 'auto',
    })
  )}
>
  <video
    id={id}
    controls
    muted
    data-cld-public-id={publicId}
    loop={loop}
    preload="none"
    class={cx(
      'cld-video-player',
      css({ maxWidth: '100%', width: '100%', height: '100%', aspectRatio: '640 / 360' })
    )}></video>

  <div
    class={flex({
      justifyContent: 'space-between',
      alignItems: 'center',
      p: 2,
      bg: {
        _light: 'white',
        _dark: 'gray.800',
      },
    })}
  >
    <p
      class={css({
        mb: 0,
      })}
    >
      {title}
    </p>
    {
      citation && (
        <cite class={css({ mt: 0, color: 'prose.caption', textAlign: 'right' })}>
          music from <a href="https://bensound.com">bensound.com</a>
        </cite>
      )
    }
  </div>
</div>
