---
import LinkButton from './LinkButton.astro';

const { title, id } = Astro.props;
---

<p
  class="codepen h-[300px] box-border flex items-center justify-center border-2 my-4 mx-0 p-4"
  data-height="300"
  data-default-tab="html,result"
  data-slug-hash={id}
  data-user="joelmturner"
  data-pen-title={`${title}`}
>
  <span
    >See the Pen <LinkButton href={`https://codepen.io/joelmturner/pen/${id}`}>
      {`${title}`}</LinkButton
    > by Joel Turner (<LinkButton href="https://codepen.io/joelmturner">@joelmturner</LinkButton>)
    on <LinkButton href="https://codepen.io">CodePen</LinkButton>.</span
  >
</p>
<script is:inline async src="https://public.codepenassets.com/embed/index.js"></script>
