---
import { SOCIAL_LINKS } from '@lib/constants';
import SocialIcon from './SocialIcon.astro';
import LinkButton from './LinkButton.astro';
const today = new Date();
---

<footer class="border-t border-solid border-slate-100 dark:border-slate-700 w-full py-8">
  <div class="mx-auto max-w-4xl px-4">
    <div class="flex justify-between w-full items-center">
      <div>
        &copy; 2012-{today.getFullYear()}, built with{' '}
        <LinkButton href="https://astro.build/"> Astro</LinkButton>
      </div>

      <div class="flex flex-wrap justify-end max-w-[40vw] md:max-w-auto">
        {
          SOCIAL_LINKS.map(({ href, label }) => (
            <wa-button href={href} rel="me" variant="neutral" appearance="plain">
              <SocialIcon icon={label} />
            </wa-button>
          ))
        }
      </div>
    </div>
  </div>
</footer>
