---
import { FUN_STUFF } from '@lib/constants';
---

<p
  class="display-flex align-items-center justify-content-center-md justify-content-flex-start gap-2 height-1em line-height-1 p-0 m-0 width-max-content font-size-3xl mx-auto"
>
  I like to
  <span
    id="fun-stuff"
    class="inline-block overflow-hidden height-1em position-relative min-w-75px font-size-3xl"
  >
    <span
      class="position-absolute display-block bottom-0 transform-translateY-0 transition-transform-0-5s-ease-in-out will-change-transform-opacity color-brand-200"
    >
      {
        FUN_STUFF.map((text) => {
          return <span class="display-block m-0 p-0 line-height-1">{text}</span>;
        })
      }
    </span>
  </span>
</p>

<script>
  import { FUN_STUFF } from '@lib/constants';

  const funStuff = document.getElementById('fun-stuff');
  if (funStuff) {
    const slidePanel = funStuff.children[0] as HTMLSpanElement;
    const height = slidePanel?.children[0]?.getBoundingClientRect().height;
    const funStuffTextArrayLength = FUN_STUFF.length;
    let funStuffTextArrayIndex = 0;

    setInterval(() => {
      funStuff.classList.remove('animate_enter');
      funStuff.classList.add('animate_exit');
      if (funStuffTextArrayIndex === funStuffTextArrayLength) {
        funStuffTextArrayIndex = 0;
      }

      slidePanel.style.transform = `translateY(${height * funStuffTextArrayIndex}px)`;
      funStuffTextArrayIndex++;
    }, 2500);
  }
</script>
