---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@lib/utils';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const isActive = currentPath.includes(href as string);
---

<a
  href={`/${href}`}
  class={cn(
    'px-2 py-1 text-orange-800 dark:text-blue-300 border-b-none border-b-4',
    'transition-border duration-200 ease-in-out',
    'm-0 line-height-1',
    'hover:text-brand-300',
    'transition-colors duration-200',
    className,
    !isActive && 'border-b-transparent',
    isActive &&
      'border-b-transparent dark:text-blue-900 md:dark:text-blue-300 bg-brand-100 md:bg-transparent block md:inline md:border-b-brand-200'
  )}
  {...props}
>
  <slot />
</a>
