---
import HeaderLink from './HeaderLink.astro';
import ThemeSwitch from './ThemeSwitch.astro';
import { Image } from 'astro:assets';
import { NAV_LINKS } from '@lib/constants';
import { cn } from '@lib/utils';
---

<header
  class={cn(
    // spacing
    'm-0 p-3',
    // background
    'bg-orange-50 dark:bg-slate-900',
    // text
    'text-black dark:text-white',
    // shadow
    'shadow-md',
    // border top
    'border-t-[6px] border-t-[#FFE5A3] dark:border-t-[#CBF6FF]',
    // border bottom
    'border-b-2 border-b-slate-200 dark:border-b-slate-700'
  )}
>
  <nav>
    <div class="flex flex-wrap items-center justify-between mx-auto w-full max-w-3xl">
      <a href="/" class="flex items-center w-[40vw] lg:w-[14vw]">
        <Image
          data-logo
          width="600"
          height="200"
          src={`https://res.cloudinary.com/joelmturner/image/upload/f_auto,q_auto/v1673573341/jmt-logo-dark-500w_2_pxay5e.png`}
          alt="joelmturner logo"
        />
      </a>
      <wa-button
        variant="brand"
        appearance="plain"
        data-nav-drawer-trigger
        class="md:hidden"
        title="Open navigation menu"
      >
        <wa-icon name="bars"></wa-icon>
      </wa-button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 md:flex-row md:m-0 md:border-0 md:gap-2 mt-4 border border-slate-100 dark:border-slate-700 rounded-lg bg-transparent"
        >
          {
            NAV_LINKS.map((link) => (
              <li>
                <HeaderLink href={link.href} aria-current="page">
                  {link.label}
                </HeaderLink>
              </li>
            ))
          }
          <ThemeSwitch />
        </ul>
      </div>
    </div>
  </nav>
</header>

<wa-drawer data-nav-drawer-content class="drawer-without-header">
  <wa-icon slot="header" name="close" data-drawer="close">Close</wa-icon>
  <div class="flex flex-col gap-2">
    <ul class="font-medium text-xl flex flex-col gap-2">
      {
        NAV_LINKS.map((link) => (
          <li>
            <HeaderLink href={link.href} aria-current="page">
              {link.label}
            </HeaderLink>
          </li>
        ))
      }
      <div class="flex mx-auto w-3/4">
        <ThemeSwitch />
      </div>
    </ul>
  </div>
</wa-drawer>

<script is:inline>
  const drawer = document.querySelector('[data-nav-drawer-content]');
  const openButton = document.querySelector('[data-nav-drawer-trigger]');

  openButton.addEventListener('click', () => (drawer.open = true));
</script>
