---
import { css } from '../../styled-system/css';
---

<div
  class={css({
    mb: 2,
    px: 3,
    pt: 0.025,
    pb: 0.25,
    bg: {
      _light: 'rose.100',
      _dark: 'gray.700',
    },
    borderLeftStyle: 'solid',
    borderLeftWidth: '5px',
    borderLeftColor: {
      _light: 'rose.300',
      _dark: 'gray.500',
    },
  })}
>
  <slot />
</div>
