---
import { CldVideoPlayer } from 'astro-cloudinary';
import { css } from 'styled-system/css';
import { flex } from 'styled-system/patterns';

type Props = {
  publicId: string;
  title: string;
  options?: {
    loop?: boolean;
  };
  citation?: boolean;
};

const { publicId, title, citation, options: { loop = false } = { loop: false } } = Astro.props;
---

<div
  class={css({
    borderRadius: '2xl',
    overflow: 'hidden',
    boxShadow: {
      _dark: `0 0 0.5rem token(colors.brand.200)`,
      _light: '0 0 1rem token(colors.brand.400)',
    },
  })}
>
  <CldVideoPlayer
    src={publicId}
    width="640"
    height="360"
    class={css({
      width: '100%',
      height: 'auto',
      aspectRatio: '640 / 360',
    })}
    loop={loop}
  />

  <div
    class={flex({
      justifyContent: 'space-between',
      alignItems: 'center',
      p: 2,
      bg: {
        _light: 'white',
        _dark: 'gray.800',
      },
    })}
  >
    <p
      class={css({
        mb: 0,
      })}
    >
      {title}
    </p>
    {
      citation && (
        <cite class={css({ mt: 0, color: 'prose.caption', textAlign: 'right' })}>
          music from <a href="https://bensound.com">bensound.com</a>
        </cite>
      )
    }
  </div>
</div>
