---
import ZineCard from '@components/ZineCard.astro';
import ZineFoldInstructions from '@components/ZineFoldInstructions.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { css } from 'styled-system/css';
import { flex, grid } from 'styled-system/patterns';

const zines = await getCollection('zines');
---

<BaseLayout title={'Zines'} description={'Some illustrative zines'}>
  <div class={flex({ justify: 'space-between', alignItems: 'center', mb: 8 })}>
    <h1>Illustrated zines</h1>
    <a
      href="/illustration/"
      class={css({ textDecoration: 'underline', color: 'prose.link', textAlign: 'right' })}
      >← Back to Illustrations</a
    >
  </div>

  <div class={flex({ gap: 2 })}>
    <ZineFoldInstructions />
  </div>

  <div
    class={grid({
      alignItems: 'center',
      maxWidth: '100%',
      direction: 'column',
      gap: 8,
      gridTemplateColumns: { sm: '1fr', lg: '1fr 1fr' },
      height: '100%',
      paddingBottom: 120,
    })}
  >
    {zines.map((zine) => <ZineCard zine={zine} />)}
  </div>
</BaseLayout>
