---
import BaseLayout from '@layouts/BaseLayout.astro';
import IllustrationGallery from '@components/IllustrationGallery.astro';
import LinkButton from '@components/LinkButton.astro';
import PageTitle from '@components/PageTitle.astro';
import { getIllustrations } from '@lib/illustrations';

const collections = await getIllustrations();
---

<BaseLayout title={'Illustrations'} description={'Some of my favorite hand-drawn illustrations'}>
  <div class="flex justify-between items-center mb-8">
    <PageTitle title="Illustration Collections" />

    <div class="flex gap-4">
      <LinkButton href="/illustration/zines/">zines</LinkButton>
      <LinkButton href="/illustration/videos/">videos</LinkButton>
    </div>
  </div>
  <IllustrationGallery illustrations={collections} />
</BaseLayout>
